
.container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
p{
    margin-bottom: 0;
}
.display-container{
    display: flex;

    width: 385px;
    height: 250px;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
}

.business-contact{

}

.BusinessName {

}

.business-logo{
    width: 140px;
    height: 115px;
    border-radius: 20%;
    border: solid 2px black;
    z-index: 2;
}


/* Location Section */
.location {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.location-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.location-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.location-icon {
    width: 23px;
    height: auto;
}

.location-text {
    font-size: 16px;
    color: #333;
    margin: 0;
}
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; // Ensures the carousel adjusts to content height
}

.offer {
    margin: auto; // Center the offer card in the carousel
}


/* RESPONSIVE DESIGN */
@media (max-width: 768px) {


}