@page "/createOffer"
@using client.Services
@inject NavigationManager NavigationManager
@inject IOfferService OfferService

<h3>Create Offer</h3>

<AddOfferComponent></AddOfferComponent>

@code {
    
}
