@page "/reservation"
@using System.Text.Json
@using Microsoft.VisualBasic
@inject HttpClient Http
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

@code {
    private FoodBag foodBag = new FoodBag{
        Id = 1,
        OldPrice = 99,
        NewPrice = 39,
    };

    private Reservation reservation = new Reservation(){
        ItemId = 1,
        Quantity = 5
    };
    

    private int quantity = 5;
    private int amount = 1;

    private decimal TotalCost => amount * foodBag.NewPrice;

    private async Task SubmitPurchase() {
        var purchase = new Reservation {
            ItemId = foodBag.Id,
            Quantity = amount,
            Price = foodBag.NewPrice,
            Total = TotalCost
        };

        await Http.PostAsJsonAsync("api/purchase", purchase);
    }
}

<div class="container">
    <div>
        <img src="images/bread2.webp" alt="Offer Image" class="offer-image" />
        <img src="images/brand_logo.jpeg" alt="Logo" class="logo-image" />
        <header class="BusinessName"> 7 Eleven - Horsens </header>
    </div>
    

    <!-- Second column -->
    <div class="float-container">
        
        <div class="float-child">
            
            <div class="icon-text">
                <img src="images/icons/bag.png" alt="bag-icon" class="icon"/>
                <p class="text-by-icon">Pastry</p>
            </div>

            <div class="icon-text">
                <img src="images/icons/star.png" alt="star-icon" class="icon"/>
                <p class="text-by-icon">Amount Of Stars</p>
            </div>
            
            <div class="icon-text">
                <img src="images/icons/clock.png" alt="clock-icon" class="icon"/>
                <p class="text-by-icon">When + Time</p>
            </div>
            
        </div>
        
        <div class="float-child2">
            <div class="prices">Old price <br/> New price<br/>
            </div>
            
            <div class="amount-reserve-container">
                <label for="amount" class="amount-label"><strong>Amount:</strong></label>
                <input type="number" id="amount" min="1" max="@reservation.Quantity" @bind="amount" class="amount-input" />
                <button @onclick="SubmitPurchase" class="reserve-button">Reserve</button>
            </div>
        
            </div>
        
        
    </div>
    
        
        <div class="location">
            <div class="location-container">
                <img src="images/icons/location.png" alt="location-icon" class="location-icon"/>
                <p class="location-text"> Vejlevej 54, 8700, Horsens, + 5KM </p>
            </div>
            <img src="images/grey-background.png" alt="grey-background" class="grey-background"/>
        </div>
        
        
        
        
        
    <p><strong>Item:</strong> Fruits and Vegetables</p>
    <p><strong>Old Price:</strong> @foodBag.OldPrice dkk</p>
    <p><strong>New Price:</strong> @foodBag.NewPrice dkk</p>
    <p><strong> Quantity available:</strong> @reservation.Quantity</p>
</div>

    