# .NET (ASP.NET) specific files
# Build results
client/client/bin/
client/client/obj/

# User-specific files
client/client/.vs/
client/client/.vscode/

# ASP.NET core secrets storage
client/client/appsettings.Development.json
client/client/appsettings.json

# Dotnet Core tools and cache
client/client/.dnx/
client/client/.nuget/

# ASP.NET temporary files
client/client/.tmp/


# Spring Boot (Java) specific files
# Build results
data_server/target/
server/target/
shared/target/
# Maven wrapper
.mvn/
# Maven specific
*.log
*.jar
*.war
*.ear
*.class
# Eclipse and IntelliJ IDEA specific files
.classpath
.project
.idea/
*.iml
# Gradle specific (if used in any module)
.gradle/
# Java application-specific
*.db

# OS specific files
# Windows
Thumbs.db
ehthumbs.db
# macOS
.DS_Store
# Linux
*.swp

# Node.js (if you have front-end code using Node.js)
node_modules/

# Log files
*.log

# Other specific files that should not be tracked
*.bak
*.swp
*.swo

/out
/client/SEP3_Poc/obj
