
/client/SEP3_Poc/bin
/client/SEP3_Poc/obj
client/.idea/.idea.SEP3_Poc/.idea/indexLayout.xml
client/.idea/.idea.SEP3_Poc/.idea/vcs.xml
.idea/vcs.xml
client/.idea/.idea.SEP3_Poc/.idea/encodings.xml
.idea/indexLayout.xml
/.idea
client/.idea/.idea.SEP3_Poc/.idea/.name
