@using System.Security.Claims
@using client.Pages.Shared
@using client.Security
@* @inject NavigationManager Navigation *@
@* @inject AuthenticationStateProvider AuthProvider *@

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    Sorry, but you're not allowed to see this.
                    @* @if (!isAuthenticated) *@
                    @* { *@
                    @*     RedirectToLogin(); *@
                    @* } *@
                    @* else *@
                    @* { *@
                    @*     RedirectBasedOnRole(); *@
                    @* } *@
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    // private bool isAuthenticated;
    // private string? userRole;
    //
    // protected override async Task OnInitializedAsync()
    // {
    //     var authState = await AuthProvider.GetAuthenticationStateAsync();
    //     var user = authState.User;
    //
    //     isAuthenticated = user.Identity?.IsAuthenticated ?? false;
    //
    //     if (isAuthenticated)
    //     {
    //         var roleClaim = user.FindFirst(c => c.Type == ClaimTypes.Role);
    //         userRole = roleClaim?.Value;
    //     }
    // }

}

@code {

    // private void RedirectToLogin()
    // {
    //     Navigation.NavigateTo("/auth/login");
    // }
    //
    // private void RedirectBasedOnRole()
    // {
    //     if (userRole == "BUSINESS")
    //     {
    //         Navigation.NavigateTo("/offers");
    //     }
    //     else if (userRole == "CUSTOMER")
    //     {
    //         Navigation.NavigateTo("/offers");
    //     }
    //     else
    //     {
    //         Navigation.NavigateTo("/unauthorized");
    //     }
    // }

}