<div class="create-offer">
    <h3>New Offer</h3>
    <form @onsubmit="HandleSubmit">
        <!-- Title -->
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" @bind="NewOffer.Title" placeholder="Enter..." />
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description (unused)</label>
            @* <textarea id="description"  placeholder="Enter..."></textarea> *@
        </div>

        <!-- Available Items -->
        <div class="form-group">
            <label for="availableItems">Available items</label>
            <input id="availableItems" type="number" @bind="NewOffer.NumberOfItems" placeholder="Enter..." />
        </div>

        <!-- Pickup Date -->
        <div class="form-group">
            <label>Pick up date</label>
            Day: <input type="number" @bind="NewOffer.PickupDate.Day" /> 
            Month: <input type="number" @bind="NewOffer.PickupDate.Month" /> 
            Year: <input type="number" @bind="NewOffer.PickupDate.Year" /> 
        </div>

        <!-- Pickup Time -->
        <div class="form-group">
            <label>Pick up time</label>
            <div class="time-range">
                <label>
                    Start:  
                    Hour: <input type="number" @bind="NewOffer.PickupTimeStart.Hour" />
                    Minute: <input type="number" @bind="NewOffer.PickupTimeStart.Minute" />
                </label>
                <label>
                    End:
                    Start:
                    Hour: <input type="number" @bind="NewOffer.PickupTimeEnd.Hour" />
                    Minute: <input type="number" @bind="NewOffer.PickupTimeEnd.Minute" />
                </label>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn-submit">Create an offer</button>
    </form>
</div>

@code {
    [Parameter] public EventCallback<Offer> OnOfferCreated { get; set; }
    [Parameter] public Offer NewOffer { get; set; } = new Offer();
    
    private async Task HandleSubmit()
    {
        if (NewOffer != null)
        {
            await OnOfferCreated.InvokeAsync(NewOffer);
        }
        else
        {
            Console.WriteLine("NewOffer is null.");
        }
    }


    
}
